{% block left_sidebar %}
    <div id="left_sidebar">
            <!-- Start of Categories Box -->

            <div id="categories">
                <div id="categories_header">
                    <h2>Categories</h2>
                </div>

                <ul>
                    <li><a href="http://www.freewebsitetemplates.com/">Cables</a></li>
                    <li><a href="http://www.freewebsitetemplates.com/">Cameras</a></li>
                    <li><a href="http://www.freewebsitetemplates.com/">Input Devices</a></li>
                    <li><a href="http://www.freewebsitetemplates.com/">Memory</a></li>
                    <li><a href="http://www.freewebsitetemplates.com/">Printers</a></li>
                    <li><a href="http://www.freewebsitetemplates.com/">Scanners</a></li>
                    <li><a href="http://www.freewebsitetemplates.com/">Server Accessories</a></li>
                    <li><a href="http://www.freewebsitetemplates.com/">Speakers &amp; Audio</a></li>
                    <li class="last"><a href="http://www.freewebsitetemplates.com/">Wireless</a></li>
                </ul>

                <div class="clearthis">&nbsp;</div>
            </div>

            <!-- End of Categories Box -->
        </div>
{% endblock %}