<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'content/css/index.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'content/css/prettyPhoto.css' %}" type="text/css" media="screen"/>
    <script type="text/javascript" language="javascript" src="{% static 'content/datatables/js/jquery.js' %}"></script>
</head>
<body>
<div id="container">

    <!-- Start of Page Header -->

    <div id="page_header">
        {% load i18n %}
        <div id="page_heading">
            <h1><a class="main_page_header_link" href="{% url main %}"> {% trans "Ferrite microwave components" %}</a> </h1>
        </div>


    <!-- Start of Page Menu -->

    <div class="page_menu">

    </div>

    <!-- End of Page Menu -->
        <div class="clearthis">&nbsp;</div>

    </div>

    <!-- End of Page Header -->
    <div id="main_content">
            <h1>Site is under construction</h1>
    </div>

    <div class="clearthis">&nbsp;</div>
    <!-- Start of Page Footer -->
</div>

</body>
</html>
