{% extends "content/page_with_series_left_sidebar.html" %}
{% load i18n %}
{% load staticfiles %}

{% block pre_meta %}
<meta name="description"
      content="{{chunks.product_description}}"/>
<meta name="keywords"
            content="{{chunks.product_keywords}}" />
{% endblock %}

{% block additional_meta %}
    <link rel="stylesheet" href="{% static 'content/css/product.css' %}" type="text/css" media="screen"/>

    <script type="text/javascript" src="{% static 'content/js/product.js' %}"></script>
{% endblock %}

{% block title %} {{product.type.long_name|capfirst}}&nbsp;{{series.name}}-{{product.name}} {% endblock %}


<!-- SIDEBAR -->
{% block left_sidebar_header %} {% trans "Series" %} {{series.name}}  {%endblock%}

{% block left_sidebar_items %}
    {% for other_product in other_products %}
    <li><a href="{% url 'show_product' product_id=other_product.id %}">{{other_product.name}}&nbsp;({{other_product.type.name}})</a>
    </li>
    {%endfor%}
{%endblock%}

{% block additional_left_sidebar %}
 <div class="categories">
    <div class="categories_header">
        <h2>{% trans "Series" %}:</h2>
    </div>

    <ul  class="categories_list">
       {% for sister in other_series %}
         <li><a href="{%url 'show_series' series_id=sister.id %}">{{sister.name}}</a> </li>
       {%endfor%}
    </ul>

    <div class="clearthis">&nbsp;</div>
</div>
{%endblock%}

<!-- END SIDEBAR -->

<!-- CONTENT -->
{%block page_content %}
<div class="product_breadcrumbs">
    <a href="{% url 'show_category'  category_id=category.id %}">{{category.name|capfirst}}</a>/<a href="{% url 'show_series'  series_id=series.id %}">{{series.name|capfirst}}</a>/<span>{{product.name|capfirst}}</span>
 </div>

<div class="product_header">{{product.type.long_name|capfirst}} <br/> {{series.name}}-{{product.name}}</div>

<div class="header_line">{% trans "Technical conditions" %}</div>
<div class="product_description">
{% trans "The electromagnetic parameters of the devices at acceptance and delivery under normal environmental conditions must conform to table:" %}
</div>
<!-- PRODUCT TABLE -->
<table class="product_table">
    <thead>
    <tr>
        <th colspan="2">
            {% trans "Frequency, GHz"%}
        </th>
        <th colspan="2">
            {{product.type.insertion_losses_alias|capfirst}},&nbsp;{% trans "dB"%}
        </th>
        <th colspan="2">
            {{product.type.inverse_losses_alias|capfirst}},&nbsp;{% trans "dB"%}
        </th>
        <th rowspan="2">
            {% trans "VSWR"%}
        </th>
        <th colspan="2">
            {% trans "Temperature" %}, &#176;C
        </th>
        <th rowspan="2">
            {% trans "Max input power, W"%}
        </th>
    </tr>
    <tr>
        <th>{% trans "min"%}</th>
        <th>{% trans "max"%}</th>
        <th>{% trans "min"%}</th>
        <th>{% trans "max"%}</th>
        <th>{% trans "min"%}</th>
        <th>{% trans "max"%}</th>
        <th>{% trans "min"%}</th>
        <th>{% trans "max"%}</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{product.frequency_min|floatformat}}</td>
        <td>{{product.frequency_max|floatformat}}</td>
        <td>{{product.insertion_losses_min|floatformat}}</td>
        <td>{{product.insertion_losses_max|floatformat}}</td>
        <td>{{product.inverse_losses_min|floatformat}}</td>
        <td>{{product.inverse_losses_max|floatformat}}</td>
        <td>{{product.vswr|floatformat}}</td>
        <td>{{product.temperature_min|floatformat}}</td>
        <td>{{product.temperature_max|floatformat}}</td>
        <td>{{product.input_power|floatformat}}</td>
    </tr>
    </tbody>
</table>
<!-- END PRODUCT TABLE -->
<div class="clearthis">&nbsp;</div>

<div class="product_description">
    {{chunks.product_technical_conditions}}

    {% if product.description|length > 0 %}
        {{product.description|safe}} <br/>
    {% endif %}

    <span class="estimated_price">
    {% trans "Estimated price"%} {{product.price|floatformat}} &#36;
    </span><sup><a class="link_note" href="#price-note">*</a></sup>
    <p>
      {{chunks.product_offer_proposition}}
    </p>
</div>
<!-- PRODUCT DESCRIPTION -->

<div class="clearthis">&nbsp;</div>
<!-- END PRODUCT DESCRIPTION-->
{% if product_images|length > 0 %}
{% for product_image in product_images %}
<div class="product_image">
    <img src="{{product_image.image.url}}" class="product_image"/>
</div>
{%endfor%}
<div class="clearthis">&nbsp;</div>
<div class="figure_title">{% trans "Figure" %}&nbsp;1.&nbsp;{% trans "Overall and mounting dimensions" %}.</div>
{% endif %}

<div class="clearthis">&nbsp;</div>
<div class="product_type_table_container">
    <table class="product_type_table">
        <tr>
            <td>
                <div class="type_signature">{{series.name}}-{{product.name}}</div>
            </td>
            <td><img class="type_image" src="{{product.type.direct_flow_image.url}}"/></td>
            {%if product.type.reverse_flow_image.url %}
            <td>
                <div class="type_signature type_signature_last">{{series.name}}-{{product.name}}-1</div>
            </td>
            <td><img class="type_image" src="{{product.type.reverse_flow_image.url}}"/></td>
            {%endif%}
        </tr>
    </table>
</div>
<div class="clearthis">&nbsp;</div>
<div class="figure_title">{% trans "Figure" %}&nbsp;2.&nbsp;{% trans "Design versions" %}.</div>
<!-- END IMAGE TABLE -->

<ul class="product_notes">
    <li id="price-note"><sup>*</sup>{% trans "The actual price depends on the number of products and may differ from that given on the site." %}
    </li>
</ul>

{% endblock %}

<!-- END CONTENT -->