{% extends "content/page_with_series_left_sidebar.html" %}
{% load i18n %}
{% load staticfiles %}

{% block pre_meta %}
<meta name="description"
      content="{% trans 'description and characteristics of ferrite microwave component' %} {{product.name}}. {% trans 'Product custom manufacturing.' %} "/>
{% endblock %}

{% block additional_meta %}
<link rel="stylesheet" href="{% static 'content/css/product.css' %}" type="text/css" media="screen"/>

{% endblock %}

{% block title %} {{product.type.long_name|capfirst}}&nbsp;{{series.name}}-{{product.name}} {% endblock %}

{% block left_sidebar_header %} {% trans "Series" %} {{series.name}}  {%endblock%}

{% block left_sidebar_items %}
{% for other_product in other_products %}
<li><a href="{% url 'show_product' product_id=other_product.id %}">{{other_product.name}}&nbsp;({{other_product.type.name}})</a>
</li>
{%endfor%}
{%endblock%}

{%block page_content %}
<div class="product_header">{{product.type.long_name|capfirst}} <br/> {{series.name}}-{{product.name}}</div>

<div class="header_line">{% trans "Technical conditions" %}</div>
<div class="product_description">
{% trans "The electromagnetic parameters of the devices at acceptance and delivery under normal environmental conditions must conform to table:" %}
</div>
<!-- PRODUCT TABLE -->
<table class="product_table">
    <thead>
    <tr>
        <th colspan="2">
            {% trans "Frequency, GHz"%}
        </th>
        <th colspan="2">
            {% trans "Insertion losses, dB"%}
        </th>
        <th colspan="2">
            {{product.type.magic_attribute|capfirst}},&nbsp;{% trans "dB"%}
        </th>
        <th rowspan="2">
            {% trans "VSWR"%}
        </th>
        <th colspan="2">
            {% trans "Temperature" %}, &#176;C
        </th>
        <th rowspan="2">
            {% trans "Max input power, W"%}
        </th>
    </tr>
    <tr>
        <th>{% trans "min"%}</th>
        <th>{% trans "max"%}</th>
        <th>{% trans "min"%}</th>
        <th>{% trans "max"%}</th>
        <th>{% trans "min"%}</th>
        <th>{% trans "max"%}</th>
        <th>{% trans "min"%}</th>
        <th>{% trans "max"%}</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{product.frequency_min|floatformat}}</td>
        <td>{{product.frequency_max|floatformat}}</td>
        <td>{{product.insertion_losses_min|floatformat}}</td>
        <td>{{product.insertion_losses_max|floatformat}}</td>
        <td>{{product.inverse_losses_min|floatformat}}</td>
        <td>{{product.inverse_losses_max|floatformat}}</td>
        <td>{{product.vswr|floatformat}}</td>
        <td>{{product.temperature_min|floatformat}}</td>
        <td>{{product.temperature_max|floatformat}}</td>
        <td>{{product.input_power|floatformat}}</td>

    </tr>
    </tbody>
</table>
<!-- END PRODUCT TABLE -->
<div class="clearthis">&nbsp;</div>

<div class="product_description">
    <ol>
        <li>
            {% trans "Devices able to operate in the the working temperature range" %}.
        </li>
         <li>
            {% trans "Reflected continuous power absorbed by the load is not more than" %}
             {{product.reflected_power|floatformat}} {% trans "watt" %}.
        </li>
        <li>
            {% trans "Direct losses given relative to polycarbonate microstrip line with a characteristic impedance " %}
             {{product.wave_resistance|floatformat}} {% trans "ohms in open space"%}.
        </li>
        <li>
            {% trans "Geometry and dimensions of mounting camera is not defined" %}.
        </li>
         <li>
           {% trans "Device soldering temperature should not exceed the" %} {{product.soldering_temperature|floatformat}}&#176;C.
        </li>
         <li> {% trans "Peak temperature on the adhesive seams should not exceed the" %}
                {{product.peak_temperature|floatformat}}&#176;C.
         </li>
         <li>
            {% trans "Matching transformers are optimized for " %}
            {% trans "microstrip line with permittivity " %} ε={{product.permittivity|floatformat}}.
        </li>

        <li>
            {% trans "Optionally, optimization can be made on a coaxial transitions of the customer or microstrip line with lower permittivity. "%}
        </li>
    </ol>

    {% if product.description|length > 0 %}
        {{product.description|safe}} <br/>
    {% endif %}

    <span class="estimated_price">
    {% trans "Estimated price"%} {{product.price|floatformat}} &#36;
    </span><sup><a class="link_note" href="#price-note">*</a></sup>
    <p>
      {% trans "If you have technical or commercial questions, contact us by email" %}
            <span class="footer_email">mwfcomponent@gmail.com</span>
    </p>
</div>
<!-- PRODUCT DESCRIPTION -->

<div class="clearthis">&nbsp;</div>
<!-- END PRODUCT DESCRIPTION-->
{% if product_images|length > 0 %}
{% for product_image in product_images %}
<div class="product_image">
    <img src="{{product_image.image.url}}" class="product_image"/>
</div>
{%endfor%}
<div class="clearthis">&nbsp;</div>
<div class="figure_title">{% trans "Figure" %}&nbsp;1.&nbsp;{% trans "Overall and mounting dimensions" %}.</div>
{% endif %}

<div class="clearthis">&nbsp;</div>
<div class="product_type_table_container">
    <table class="product_type_table">
        <tr>
            <td>
                <div class="type_signature">{{series.name}}-{{product.name}}</div>
            </td>
            <td><img class="type_image" src="{{product.type.direct_flow_image.url}}"/></td>
            {%if product.type.reverse_flow_image.url %}
            <td>
                <div class="type_signature type_signature_last">{{series.name}}-{{product.name}}-1</div>
            </td>
            <td><img class="type_image" src="{{product.type.reverse_flow_image.url}}"/></td>
            {%endif%}
        </tr>
    </table>
</div>
<div class="clearthis">&nbsp;</div>
<div class="figure_title">{% trans "Figure" %}&nbsp;2.&nbsp;{% trans "Design versions" %}.</div>
<!-- END IMAGE TABLE -->

<ul class="product_notes">
    <li id="price-note"><sup>*</sup>{% trans "The actual price depends on the number of products and may differ from that given on the site." %}
    </li>
</ul>

{% endblock %}