{% extends "content/base.html" %}

{%block content %}
    <div id="left_sidebar">
            <!-- Start of Categories Box -->

        <div class="categories">
            <div class="categories_header">
                <h2>{% block left_sidebar_header %} {%endblock%}</h2>
            </div>

            <ul class="categories_list">
                {% block left_sidebar_items %} {%endblock%}
            </ul>

            <div class="clearthis">&nbsp;</div>
        </div>
        {% block additional_left_sidebar %} {%endblock%}
            <!-- End of Categories Box -->
    </div>

    <div id="two_column_page_main_content">
        {%block page_content %} {%endblock%}
    </div>
{%endblock%}