.product_image {
    border:0px;
    display:block;
    float:left;
    margin-top:20px;

}

.type_signature{
    font-size:24px;
    
}

.type_signature_last{
    margin-left:50px;
}

.product_description {
    font-weight:normal;
    font-size:16px;
}
.product_header {
    color:#000;
    font-weight:bold;
    font-size:20px;
    margin-top:10px;
    text-align: center;
    width: 100%;
}

.product_table{
    margin-top:10px;
    width:100%;

    border: #b6b6d2 1px solid;
	border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
}

.product_table td{
    text-align:center;
    vertical-align:top;
}

.product_images_table{
    border-collapse: separate;
    border-spacing: 15px;
    *border-collapse: expression('separate', cellSpacing = '15px');
    width:100%;
}

.product_table_attributes{
    color:#000;
    font-weight:bold;
    font-size:12px;
    text-align:left;
    vertical-align:top;
    border:0px solid black;
    border-collapse: separate;
    border-spacing: 5px;
    *border-collapse: expression('separate', cellSpacing = '5px');
}

.product_type_table td {
    border:0px;
    border-collapse: separate;
    border-spacing: 25px;
    *border-collapse: expression('separate', cellSpacing = '25px');

}

.product_type_table td {
    vertical-align:middle;
}
.product_type_table_container {
    text-align:center;
}
.header_line{
    font-weight:normal;
    font-size:18px;
    width:100%;
    margin-top:20px;
    text-align:center;
}
.link_note{
    text-decoration:none;
    font-size:18px;
    color:black;
}
.product_notes {
    font-style:italic;
    font-size:12px;
    margin-top:20px;
}
.estimated_price {
    font-size:16px;
    color:black;
    font-weight:bold;
}