<h1>django-mothertongue example template</h1>

<h2>Demo navigation</h2>
<p>Persists current page, state and URL querystring when changing language via this nav</p>
{% if mothertongue_language_nav %}
<ul>
    {% for item in mothertongue_language_nav %}
    <li class="lang lang-{{ item.code }}{% if item.last %} last{% endif %}">
            <a href="{{ item.url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

<h2>Display of translated model data</h2>
<h3>{{home_copy.title|safe}}</h3>
<br/><br/>
{{home_copy.content|safe}}

<h2>Example link using the django url tag which persists the language prefix</h2>
<a href="{% url home %}" title="Home" hreflang="{{LANGUAGE_CODE}}">Home</a>